/* bpopup example */

#popup_this {
    top: 50%;
    left: 50%;
    text-align:left;
    margin-top: -30px;
    margin-left: -100px;
  /*  position: fixed; */
    background: #fff;
    padding: 15px;
		display:none;
}
.b-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background: #ff0000;
    padding: 5px 10px;
}

/* template styling */
p{
  font-size: 50 px;
  background-color:white;

}

.column-name{
  font-weight: bold;
}

.wrapper {
      width:100%;
      height:50vh;
      overflow: hidden;
    }

.wrapper video {
        /*object-fit: contain;*/
  /*       object-fit: fill; */
        object-fit: cover;
        width:100%;
        height:100%;
      }

.article-main{
    width: 75vw;
}


/* custom.css */

body
{
	background-color: #f1f5f8;
	border-top: 10px solid #001158;
}

.portfolio
{
	margin: 48px 0;
}

.portfolio-sorting
{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 48px;
}

.portfolio-sorting li a
{
	color: #808080;
	text-decoration: none;
	padding: 6px;
}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
	color: #2980b9;
	border-bottom: 2px solid #2980b9;
}

.portfolio-item
{
	margin-bottom: 30px;
  object-fit: fill;
}


@font-face {
  font-family: 'Vestula';
  src:url('../fonts/Vestula Regular.otf')
}


/**************
	FOOTER
***************/
footer
{
	border-top: 5px solid #f46e32;

	background-color: #001158;
	padding: 24px;

	font-size: 16px;

  font-family: 'Vestula', 'Georgia', verdana;
}

footer,
footer a
{
	color: white;
}

footer a:hover
{
	color: #001158;
}

footer .column ul li
{
	margin-bottom: 6px;
}

footer .column h4
{
	border-bottom: 2px solid #2980b9;
	padding-bottom: 12px;
    margin-bottom: 24px;
}

footer .column .glyphicon-chevron-right
{
	margin-right: 6px;
	color: #2980b9;
}

.social-icons
{
	margin-bottom: 12px;
}
